In [76]:
import h5py
import numpy as np    
import matplotlib.pyplot as plt
import pandas as pd

######## Very basic access to the dataset - let's see what we are working with! #######
raw_dataset = h5py.File('climatevisions_2019.h5','r+') 

# Access the 'upper' data - we only have tweet data 
for item in raw_dataset.keys():
    print("Items: " + item)    
    
# Access the actual subgroups with data for us - different info we can look at - mostly things provided in Excel by Katharina
for item in raw_dataset.require_group('tweet_data').keys():
    continue  ### comment this out if you want to see categories we have and use print
    #print(item)

Items: tweet_data

In [77]:
# Access the dataset within the group
dataset = raw_dataset['tweet_data']  ## excludes unnecessary information - only tweet_data
 
# Create a dictionary to store column data
data_dict = {}
    
# Iterate through the keys (assuming each key is a column name)
for key in dataset.keys():
     # Access the data for each column
     column_data = dataset[key][:]
        
     # Store the data in the dictionary with the column name as the key
     data_dict[key] = column_data
 
# Convert the dictionary to a Pandas DataFrame
dataFrame = pd.DataFrame(data_dict)
dataFrame.head()

,author_id,created_at,edit_history_tweet_ids,entities_annotations,entities_cashtags,entities_hashtags,entities_mentions,entities_urls,geo_coord_data,geo_coord_type,...,possibly_sensitive,quote_count,referenced_tweets,reply_count,retweet_count,source,text,tweet_id,withheld_copyright,withheld_countrycode
0,b'24931983',b'2019-01-01T23:59:01.000Z',b'1080252082781855744',"b'start:30, end:31, probability:0.4413, type:P...",b':NA',b'NA',b'NA',"b'start1:66, start2:90, end1:89, end2:113, url...",b'NA',b'NA',...,True,0,b'NA',0,0,b'CoSchedule',b'Kids Win the Right to Sue the US Government ...,b'1080252082781855744',b'NA',b'NA'
1,b'2602968048',b'2019-01-01T23:57:02.000Z',b'1080251584729223173',b'NA',b':NA',b'NA',b'NA',"b'start:278, end:301, url:https://t.co/is0NHYP...",b'NA',b'NA',...,True,0,b'NA',0,0,b'Twitter Web Client',b'Wat zou de eenvoudigste verklaring zijn dat ...,b'1080251584729223173',b'NA',b'NA'
2,b'734730931848634368',b'2019-01-01T23:55:49.000Z',b'1080251277693595649',b'NA',b':NA',b'NA',b'NA',"b'start1:55, start2:260, end1:78, end2:283, ur...",b'NA',b'NA',...,True,0,b'NA',0,0,b'Twitter for iPad',"b""Here's what's on the radar for climate chang...",b'1080251277693595649',b'NA',b'NA'
3,b'1242955585',b'2019-01-01T23:53:00.000Z',b'1080250568583585792',"b'start:52, end:78, probability:0.4544, type:O...",b':NA',b'NA',"b'start1:82, start2:99, end1:95, end2:109, use...","b'start1:140, start2:164, end1:163, end2:187, ...",b'NA',b'NA',...,True,0,b'NA',0,0,b'TweetDeck',"b'The biggest story of the year, for all of hu...",b'1080250568583585792',b'NA',b'NA'
4,b'18085565',b'2019-01-01T23:51:36.000Z',b'1080250217524539393',"b'start:122, end:127, probability:0.7755, type...",b':NA',"b'start1:184, start2:239, start3:262, end1:196...","b'start1:248, start2:275, end1:261, end2:283, ...","b'start:284, end:307, url:https://t.co/jqCU6Ds...",b'NA',b'NA',...,True,0,b'NA',0,0,b'Twitter Web Client',b'Still celebrating 2016 w stale Crystal & ran...,b'1080250217524539393',b'NA',b'NA'

In [91]:
################## Subset Creation #########################


### How many is up to us, can be tried out based on result of models ###
sorted_tweets = dataFrame.sort_values(by='like_count', ascending=False)

#### Get the top 1000 tweets based on 'like_count' ####
top_1000_tweets = sorted_tweets.head(1000)
top_1000_tweets[['author_id','like_count', 'retweet_count', 'text']] ## different categories 

#### TODO possibly some more

,author_id,like_count,retweet_count,text
392565,b'381268670',82582,50280,b'the UN released a 740 page report compiled o...
446784,b'65497475',69820,51781,"b'The Amazon Rainforest, one of the wettest pl..."
230823,b'68820706',69235,11051,b'just learned about climate change https://t....
589009,b'365956744',65465,6124,b'Climate change caused this. https://t.co/JG2...
147660,b'138203134',62852,9145,b'#GreenNewDeal haters\xe2\x80\x99 plan to add...
...,...,...,...,...
198774,b'944564902210846720',631,213,b'Many children from several schools participa...
615123,b'137295176',630,244,b'A reminder - the disruption caused by climat...
527333,b'3058602759',629,35,b'An absolute pleasure to have been at Global ...
96239,b'4898091',628,247,"b""Meet Greta Thunberg, a 16-year-old in Sweden..."
454785,b'23655688',628,147,b'Is it immoral to have babies in the era of c...

In [93]:
### print some tweets out of interest
tweetPrintCount = 0
for item in sorted_tweets:
    if tweetPrintCount < 50:
        top_tweet = sorted_tweets.iloc[tweetPrintCount]
        print(top_tweet['text'])
        tweetPrintCount += 1

b'the UN released a 740 page report compiled over six years by 250 scientists from 70 nations that basically states that unless drastic measures are taken to combat climate change, we are looking at mass extinction by 2050. At this point I don\xe2\x80\x99t know if having kids is even ethical https://t.co/CsdTSpfRPv'
b'The Amazon Rainforest, one of the wettest places on Earth, is on fire.  Siberia, one of the coldest places on Earth, is on fire.That aint normal. Climate change is for real and our planet is burning up. Humans are the cause of this deadly fever.#PrayforAmazonia https://t.co/D6VCTaCNXt'
b'just learned about climate change https://t.co/OlmKwz2bOn'
b'Climate change caused this. https://t.co/JG2LyeX8Tx'
b'#GreenNewDeal haters\xe2\x80\x99 plan to address Climate Change: https://t.co/ahuDXnxcDG'
b'Jon Snow, a tired millennial, dealing with wild political instability, accelerating climate change, and all the bullshit that his parents\xe2\x80\x99 generation created and refused to deal with responsibly. #GameofThrones https://t.co/icETZh6oPH'
b'Iceland just held a funeral for its first ever glacier lost to climate change. https://t.co/VmuXbLH0pV https://t.co/CCdASlreMo'
b'My TL going from James Charles to abortion laws to climate change and pollution to dog videos https://t.co/zjKNhYN5BA'
b"The Amazon rainforest has been burning for 3 weeks! We are on the verge of losing it completely if the fire isn't put out. The loss of trees, the loss of biodiversity is what is accelerating CLIMATE CHANGE. THIS IS AN INTERNATIONAL EMERGENCY. This is a CRISIS.#SaveTheAmazon https://t.co/EDx1bub5AZ"
b"From nurseries to full forest areas, the success of Billion Tree Tsunami has been unprecedented with public & pvt involvement. Has given us confidence to take the initiative to 10 bn trees. KP's forest cover has increased by 4%, contributing to the fight against climate change https://t.co/xFqJpwUq0u"
b'Yesterday I visited a school assembly w/ teens in Queens.One of them asked, \xe2\x80\x9cWhat can WE do to combat climate change?\xe2\x80\x9d2 recs:- Skip disposable razors+switch to safety razors- Give your tummy a break! Skip meat/dairy for a meal (easiest is bfast, I do banana & peanut butter) https://t.co/BnAg4x5lGS'
b'Just got off the phone with the CEO of climate change...I told him to fuck off \xf0\x9f\x92\xaa\xf0\x9f\x98\xa4 https://t.co/yMYMYMLisO'
b'You still flying on that private jet and cruising on those mega yachts lecturing the rest of us on \xe2\x80\x9cclimate change,\xe2\x80\x9d you little turd? https://t.co/aVnjhbH8wI'
b'More than 8,000 people on Instagram are watching @AOC live stream herself putting together IKEA furniture, drinking wine and talking about the GOP and climate change https://t.co/VTBoaku8o4'
b'.@FIAFormulaE tonight is announcing that it has enlisted super viral K-pop group @BTS_twt to help promote electric vehicles and combating climate change.\xe2\x9e\x96 BTS is one of the most followed music acts in the world, with more than 90 million social media followers. https://t.co/7FSvU3RsLw'
b'Friendly nations, futuristic outcomes. The RIC (Russia-India-China) meeting was an excellent forum to discuss ways to enhance multilateral cooperation between our nations and work to mitigate challenges being faced by our planet, most notably terrorism and climate change. https://t.co/LTljcPCTDW'
b'Formula E is joining forces with BTS to help promote the benefits of electric vehicles and the crucial part they will play in combating climate change. https://t.co/PUARc3rssi'
b'Climate change is not a possibility for the distant future, it is the REALITY OF TODAY!!! It\xe2\x80\x99s time to rise before it\xe2\x80\x99s too late. We support you, climate strikers. With love and hope from Antarctica.#ClimateStrike #FridaysForFuture https://t.co/Z4AoIuPXWw'
b"i know this is a bill hader's acc but can we appreciate ted danson being arrested for protesting climate change https://t.co/eAuyquzauA"
b'Time we put every Australian politicians feet to the fire ( intended ) & get serious about climate change and our future.When the fire season passes they\xe2\x80\x99ll assure you it wasn\xe2\x80\x99t as bad as you remember.9 million acres and counting says fuck that bullshit. #wakeupAustralia https://t.co/79Yc2DJLDe'
b'Who will be the new National Security Advisor? Will it be The Hamburglar, or is he better suited to take on climate change? When it comes to horrible options, Trump\xe2\x80\x99s bench runs deep. BTW you\xe2\x80\x99re  paying for the burgers. https://t.co/HhyLbrlZgq'
b'Yesterday I visited the people protecting the Hambach forrest, in Germany.Our war against nature must end. Read more about the background of the Hambach forrest here: https://t.co/uj56gyEyiT#HambiBleibt #ecologicalbreakdown #ecologicalemergency #keepitintheground #endcoal https://t.co/K7jim5vVw3'
b'the people: corporate America needs to step and do their part to reverse climate change and save our enviornmentMcDonalds: loud and clear https://t.co/xkqRIVGy9T'
b'wen only one person in class has guidelines to help reverse climate change and stop the effects of greenhouse gas emissions \xf0\x9f\x98\x82\xf0\x9f\x98\x82\xf0\x9f\x98\x82\xf0\x9f\x98\x82 https://t.co/pimpigI06y'
b'The Duke and Duchess of Cambridge visited the stunning mountains of Northern Pakistan, where the stark effects of climate change and global warming are having a profound impact on the communities that call the region home. #RoyalVisitPakistan https://t.co/NLv8XEPtQ9'
b"\xf0\x9f\x8c\xb1Plant Today, Save Tomorrow Year 2\xf0\x9f\x8c\xb1To celebrate RM's birthday, we planted 600 indigenous trees in Sierra Madre, the longest mountain range in PH, hoping to leave a legacy for RM & ARMY and be part of the solution to climate change.#weloveyouTREEthousand#Namjooning #\xeb\x82\x98\xeb\xac\xb4 \xf0\x9f\x92\x9a https://t.co/Adb0tMqRWV"
b"billionaires are so obsessed with space colonization because they see it as a solution to climate change that doesn't involve confronting capitalism https://t.co/BnSKinWP3r"